<div class="product-card">
  <div class="product-image">
    <img [src]="product.imageUrl" [alt]="product.name" />

    <div class="product-tag" *ngIf="product.tag">
      {{ product.tag }}
    </div>
  </div>

  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-category">{{ product.category }}</p>
    <p class="product-description">{{ product.description }}</p>

    <div class="product-price">
      <span class="current-price" *ngIf="product.discountPrice"
        >₹{{ product.discountPrice }}</span
      >
      <span class="original-price" [class.has-discount]="product.discountPrice"
        >₹{{ product.price }}</span
      >
      <span class="discount-percentage" *ngIf="product.discountPrice"
        >-{{ calculateDiscount() }}%</span
      >
    </div>

    <button class="add-to-cart-btn">Add to Cart</button>
  </div>
</div>
