modules = ["web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Angular"

[[workflows.workflow]]
name = "Run Angular"
author = 41801414
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ng serve --host 0.0.0.0"
