
<div class="hero-slider">
  <p-carousel [value]="slides" [numVisible]="1" [numScroll]="1" [circular]="true" 
    [autoplayInterval]="6000" [showNavigators]="true" [showIndicators]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="item" let-slide>
      <div class="slide-wrapper">
        <div class="slide-image" [style.background-image]="'url(' + slide.imageUrl + ')'">
          <div class="slide-overlay"></div>
        </div>
        <div class="slide-content container">
          <div class="content-wrapper">
            <h1 class="slide-title">{{ slide.title }}</h1>
            <p class="slide-description">{{ slide.description }}</p>
            <a [routerLink]="slide.buttonLink" class="slide-button">
              <span>{{ slide.buttonText }}</span>
              <fa-icon [icon]="arrowRightIcon"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
