
<div class="hero-slider">
  <div class="slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide">
    <img [src]="slide.imageUrl" [alt]="slide.title">
    <div class="content">
      <h2>{{slide.title}}</h2>
      <p *ngIf="slide.description">{{slide.description}}</p>
      <a *ngIf="slide.buttonText" [routerLink]="slide.buttonLink" mat-raised-button color="primary">
        {{slide.buttonText}}
      </a>
    </div>
  </div>
  <div class="navigation-arrows">
    <button class="nav-button prev" (click)="prevSlide()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="nav-button next" (click)="nextSlide()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
