
<div class="testimonials-slider">
  <div class="slider-controls">
    <button class="slider-arrow prev" (click)="prevSlide()" [disabled]="!isValidSlideIndex(activeSlide - 1)">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="slider-arrow next" (click)="nextSlide()" [disabled]="!isValidSlideIndex(activeSlide + 1)">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>

  <div class="slider-container">
    <div class="slider-track" [style.transform]="'translateX(-' + (activeSlide * (100 / slidesPerView)) + '%)'">
      <div class="testimonial-card" *ngFor="let testimonial of testimonials">
        <div class="testimonial-header">
          <div class="testimonial-rating">
            <i class="fa fa-star" *ngFor="let star of generateStars(testimonial.rating)"></i>
          </div>
          <div class="testimonial-info">
            <h4 class="testimonial-name">{{ testimonial.name }}</h4>
            <p class="testimonial-location">{{ testimonial.location }}</p>
          </div>
        </div>
        <div class="testimonial-content">
          <p class="testimonial-text">"{{ testimonial.comment }}"</p>
        </div>
        <div class="testimonial-footer">
          <p class="testimonial-product" *ngIf="testimonial.productUsed">
            <span>Product:</span> {{ testimonial.productUsed }}
          </p>
          <p class="testimonial-date">{{ testimonial.date }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-dots">
    <span 
      class="dot" 
      *ngFor="let _ of testimonials.slice(0, testimonials.length - slidesPerView + 1); let i = index" 
      [class.active]="i === activeSlide"
      (click)="setActiveSlide(i)">
    </span>
  </div>
</div>
