<div class="announcement-bar">
  <div class="container">
    <div class="announcement-content">
      <div class="announcement-slider">
        <div class="announcement-text">
          {{ announcements[currentAnnouncementIndex] }}
        </div>
      </div>
      <div class="announcement-actions">
        <a href="javascript:void(0)" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="javascript:void(0)" class="social-link">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="javascript:void(0)" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>
