@import "../../../../styles/variables";

.announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  z-index: 1000;
}

.announcement-content {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center;
}

.announcement-slider {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .announcement-text {
    animation: slide-up 0.5s ease-out;
    font-weight: 500;
  }
}

.announcement-actions {
  display: flex;
  gap: 15px;

  .social-link {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .announcement-actions {
    display: none;
  }
}
